@tailwind base;
@tailwind components;
@tailwind utilities;
.shadow-inpt {
  @apply shadow-lg shadow-[#B6B4FD];
}
.ui-slider-handle {
  background: #5f59f7 !important;
  border-radius: 50%;
  height: 16px !important;
  width: 16px !important;
  border: none !important;
}
.ui-widget.ui-widget-content {
  border: none;
  background: #e2e2e9;
  height: 4px;
}
.ui-slider-horizontal .ui-slider-range {
  background: #5f59f7;
}
@layer components {
  .drop-down-icon.open {
    @apply rotate-180;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #ededf2;
  }

  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 20px;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .section-title {
    @apply text-[20px] lg:text-[32px] text-[#000000E5] leading-6 lg:leading-10 font-semibold;
  }
  .secondary-btn {
    @apply py-2 lg:py-2.5 px-4 lg:px-5 rounded-[10px] lg:rounded-xl bg-[#F5F5FF] text-xs lg:text-sm  leading-4 lg:leading-[18px] text-[#403AEE];
  }

  .form-checkbox {
    @apply rounded-md border border-[#E2E2E9] outline-none w-5 h-5 focus:ring-transparent;
  }
  .page-title-sec {
    @apply pt-16 pb-[69px];
  }
  .page-title-heading {
    @apply text-black text-5xl leading-[60px] font-bold text-center;
  }
  .page-title-text {
    @apply text-[#0000008C] text-lg leading-[26px] text-center;
  }
  .pagination-item.active,
  .pagination-item:hover {
    @apply bg-[#5F59F7] text-white;
  }
  .drop-down-list.active,
  .filter-sec.active {
    @apply opacity-100 visible translate-y-0;
  }

  .filter-sec.active {
    @apply top-0;
  }

  .drop-down-list.selct.active {
    @apply top-[120%];
  }

  .filter-sec.active > aside {
    @apply translate-x-0;
  }
  .filter-item.active,
  .filter-item:hover {
    @apply bg-[#F3F3F7];
  }
  .profile-navigation > li.active a {
    @apply text-[#403AEE] font-medium bg-[#F5F5FF];
  }
  .profile-navigation > li:hover a {
    @apply text-[#403AEE] bg-[#F5F5FF];
  }
  .profile-navigation > li.active svg,
  .profile-navigation > li:hover svg {
    @apply opacity-100;
  }
  .profile-navigation > li.active svg path,
  .profile-navigation > li:hover svg path {
    @apply stroke-[#403AEE] transition-all duration-300;
  }

  @media (min-width: 1024px) {
    .owl-theme .owl-nav {
      width: 108%;
      position: absolute;
      top: 50%;
      display: flex;
      transform: translate(-50%);
      align-items: center;
      justify-content: space-between;
      left: 50%;
      z-index: -1;
    }

    .owl-theme.owl-header-categories .owl-nav {
      top: 0%;
      width: 100%;
      margin-top: 0;
      height: 100%;
    }

    .owl-theme .owl-nav button span {
      font-size: 33px;
      padding: 10px !important;
      transition: 0.4s ease-in-out;
      display: flex;
      border-radius: 8px;
      align-items: center;
      height: 100%;
    }

    .owl-theme .owl-nav button span:hover {
      background: #b6b4fd;
    }

    .owl-theme .owl-nav [class*="owl-"]:hover {
      background: none;
      color: #000;
      text-decoration: none;
    }

    .owl-header-categories .owl-nav button {
      border: 1px solid #e8e8ed !important;
      border-radius: 10px !important;
      height: 100%;
    }
  }
}
