
  .tagify__tag {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
    border: 1px solid #E2E2E9;
    margin:0 5px;
  }
  .tagify__tag-text {
    color: #000000B2;
    font-weight:500;
  }
  .tagify__tag__removeBtn::after {
    font-size: 20px;
    color: rgb(0, 0, 0);
    opacity:.4
  }
  .tagify__tag > div::before {
    display: none;
  }
  .tagify__tag__removeBtn:hover {
    background: none;
  }
  .tagify__tag>div{
    padding:0
  }